[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "*"
mkdocs-jupyter = "*"
mkdocs-literate-nav = "*"
mkdocs-section-index = "*"

[dev-packages]
numpy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
ipykernel = "*"
ipywidgets = "*"
matplotlib = "*"
xgboost = "*"
shap = "*"
hvplot = "*"
gdown = "*"

[requires]
python_version = "3.10"
